@use "sass:color";

// Functions

// scss-docs-start color-functions
// Shade a color: mix a color with black
@function shade-gray($color, $weight) {
  @return color.scale($color, $lightness: $weight * -1);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return color.scale($color, $lightness: $weight, $saturation: $weight);
}

$gray-500: hsl(120, 4%, 50%);
$gray-100: shade-gray($gray-500, -50%);
$gray-200: shade-gray($gray-500, -40%);
$gray-300: shade-gray($gray-500, -30%);
$gray-400: shade-gray($gray-500, -20%);
$gray-600: shade-gray($gray-500, 40%);
$gray-700: shade-gray($gray-500, 50%);
$gray-800: shade-gray($gray-500, 60%);
$gray-900: shade-gray($gray-500, 70%);

$purple: 151, 46, 236;
$green: 54, 201, 152;
$blue: 24, 121, 231;

$body-color: $gray-300;
$heading-color: $gray-400;
$display-color: $gray-800;
$nav-color: $gray-600;
$body-bg: $gray-900;
$nav-bg: $gray-800;
$accent: $purple;

$colors: (
  gray-100: $gray-100,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-500: $gray-500,
  gray-600: $gray-600,
  gray-700: $gray-700,
  gray-800: $gray-800,
  gray-900: $gray-900,
  purple: $purple,
  green: $green,
  blue: $blue,
);

$theme-parts: (
  body-color: $body-color,
  heading-color: $heading-color,
  display-color: $display-color,
  nav-color: $nav-color,
  body-bg: $body-bg,
  nav-bg: $nav-bg,
  accent: $accent,
);
