<template>
  <div class="listing">
    <div class="header">
      <h1 class="title">Listing</h1>
      <form class="search" @submit="handleSubmit">
        <div class="search-inner">
          <label class="listing-count" for="searchInput"
            >Total: {{ listings.count }}</label
          >
          <input
            id="searchInput"
            class="search-input"
            type="search"
            ref="searchInput"
            placeholder="Search listings..."
            aria-label="Search listings for..."
            aria-haspopup="false"
            autocapitalize="off"
            autocomplete="off"
            autocorrect="off"
            spellcheck="false"
            title="Search Listings"
            @keyup="handleSearch"
          />
        </div>
      </form>
    </div>
    <div id="results" class="listing-grid">
      <ListingItem v-for="item in listings.data" :key="item.id" :item="item" />
    </div>
  </div>
</template>

<script>
import Listings from "@/services/Listings";
import ListingItem from "@/components/ListingItem.vue";
export default {
  name: "Listing",
  components: { ListingItem },
  data() {
    return {
      loading: true,
      listings: Listings(null),
      searchTerm: "",
    };
  },
  mounted() {
    this.$refs.searchInput.focus();
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      return false;
    },
    handleSearch(e) {
      this.searchTerm = e.target.value;
    },
  },
  watch: {
    searchTerm() {
      this.listings = Listings(this.searchTerm);
    },
  },
};
</script>

<style lang="scss">
.listing {
  display: flex;
  flex-direction: column;

  .header {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    .title {
      margin: 0 0;
    }
    .search {
      padding-bottom: 0.8rem;
      .search-inner {
        display: inline-block;
      }
      .listing-count {
        font-size: 0.75rem;
        display: block;
        text-align: center;
        padding: 0.8rem 0;
      }
      .search-input {
        font-size: 1.5rem;
        color: var(--green);
        text-align: center;
        border-radius: 0.5rem;
        background-color: var(--body-bg);
        padding: 0.5rem 0.75rem;
      }
    }
  }

  .listing-grid {
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    // align-items: stretch;
    // align-content: flex-start;
    // justify-content: flex-start;
  }
}
</style>
