<template>
  <div class="welcome">
    <h1>Welcome</h1>
  </div>
</template>

<style lang="scss">
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 6rem;
    text-shadow: 0 0 48px rgb(var(--accent));
    color: var(--body-bg);
    mix-blend-mode: color-dodge;
  }
}
</style>
