<template>
  <div class="listing-item">
    <div class="avatar">{{ avatarInitials }}</div>
    <div class="details">
      <div class="name">
        {{ name }} <small class="id-text">({{ id }})</small>
      </div>
      <div class="subtitle">{{ subtitle }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListingItem",
  props: ["item"],
  data({ item }) {
    return { ...item };
  },
  computed: {
    avatarInitials() {
      const name = this.name;
      if (name) {
        const names = name.split(" ");
        let first, second;
        if (names.length > 0) {
          first = names[0][0];
          if (names.length > 1) {
            second = names.pop()[0];
          }
          return first + (second ? second : "");
        } else {
          return "";
        }
      } else {
        return "?";
      }
    },
  },
};
</script>

<style lang="scss">
.listing-item {
  display: flex;
  padding: 16px;
  margin: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(var(--green), 0.1);
  border: 4px solid transparent;
  border-radius: 1.5rem;
  background-clip: padding-box;
  background-image: linear-gradient(
    rgba(var(--green), 0.2),
    rgba(var(--blue), 0.2)
  );
  .avatar {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: rgba(var(--green), 0.5);
    font-size: 0.75rem;
  }
  .details {
    flex: 1 0 auto;
    width: 20vw;
    padding: 0 10px;
    mix-blend-mode: screen;
    .name {
      font-size: 1.5rem;
      color: rgb(var(--purple));
    }
    .id-text {
      // font-size: 5rem;
      color: rgb(var(--blue));
    }
    .subtitle {
      font-size: 1rem;
      padding-top: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
</style>
