<template>
  <aside>
    <nav id="nav" class="main-navbar navbar-light">
      <router-link to="/welcome">Welcome</router-link>
      <router-link to="/listing">Listing</router-link>
    </nav>
  </aside>
</template>

<style lang="scss">
#nav {
  padding: 1rem;

  &.main-navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--body-bg));
  }

  a {
    font-weight: bold;
    color: rgb(var(--nav-color));
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-image: linear-gradient($gray-800, $gray-700);
    &.router-link-exact-active {
      color: rgb(var(--accent));
      background-image: linear-gradient($gray-800, rgba(var(--accent), 0.3));
    }
  }
}
</style>
