<template>
  <div id="app">
    <NavBar />
    <router-view class="main-viewport" />
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";

export default {
  components: { NavBar },
};
</script>

<style lang="scss">
:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }
  @each $color, $value in $theme-parts {
    --#{$color}: #{$value};
  }
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color);
  background: var(--body-bg);
}

#app {
  height: 100%;
  display: flex;
  justify-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
}

.main-viewport {
  flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  color: var(--heading-color);
}
</style>
